.container-fluid {
    padding-right: 0px;
}

.dataTables_wrapper:nth-child(1) > div {
    overflow-x: auto;
}

.dataTables_wrapper.form-inline:nth-child(1) > div {
    overflow-y: hidden;
}

.dataTables_wrapper .row:last-of-type {
    margin-bottom: 0px;
}

.dataTables_wrapper table {
    width: 100% !important;
}

.dataTables_wrapper tbody td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataTables_wrapper tfoot {
    display: table-footer-group;
}

.dataTables_wrapper tfoot input {
    border: none;
    border-bottom: 2px dotted #eee;
    width: 100%;
}

@media screen and (max-width: 767px) {
    #dataTable_filter {
        float: none;
    }
}