.container-fluid {
    padding-right: 0px;
}

.messages-detail {
    padding-left: 0px;
    max-height: 55vh;
}

.messages-detail .messages-detail-list {
    height: 100%;
}

.messages-detail .messages-detail-compose {
    margin-top: 1rem;
}

.messages-detail .panel.message {
    border: 1px solid #EAEAEA;
    margin-bottom: 0.75rem;
}

.messages-detail .panel.message .message-heading {
    padding: 6px 8px 6px 8px;
    font-size: 13px;
    font-weight: normal;
}

.messages-detail .panel.message .message-body {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

.dataTables_wrapper:nth-child(1) > div {
    overflow-x: auto;
}

.dataTables_wrapper.form-inline:nth-child(1) > div {
    overflow-y: hidden;
}

.dataTables_wrapper .row:last-of-type {
    margin-bottom: 0px;
}

.dataTables_wrapper table {
    width: 100% !important;
}

.dataTables_wrapper tbody td {
    white-space: nowrap;
    overflow: hidden;
}

.dataTables_wrapper tfoot {
    display: table-footer-group;
}

.dataTables_wrapper tfoot input {
    border: none;
    border-bottom: 2px dotted #eee;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .messages-detail {
        padding-left: 15px;
    }

    #dataTable_filter {
        float: none;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1420px) {
    .messages-master {
        width: 45%;
    }

    .messages-detail {
        width: 55%;
    }
}

@media screen and (min-width: 1420px) and (max-width: 1500px) {
    .messages-master {
        width: 40%;
    }

    .messages-detail {
        width: 50%;
    }
}